.logo__cursor {
    animation: cursor 1.2s infinite;
    background: rgb(51, 255, 51);
    /* background: #00cafd; cool compile color */
    /* border: 1px solid #292a2d; */
    /* border-radius: 1.5px; */
}

.post-moddate {
    float: right;
}

#icon-kofi {
    margin: 0 0 0 15px;
    min-width: 40px;
}

@media screen and (max-width: 683px), (--phone) {
    #icon-kofi {
        margin: 0 10px 0 0;
    }
}

.icon-link {
    display: inline-block;
    margin: 0px 10px;
}
