.logo__cursor {
    animation: cursor 1.2s infinite;
    background: rgb(51, 255, 51);
    /* background: #00cafd; cool compile color */
    /* border: 1px solid #292a2d; */
    /* border-radius: 1.5px; */
}

.post-moddate {
    float: right;
}

#icon-coffee {
    margin: 0 0 0 15px;
    min-width: 40px;
}

@media screen and (max-width: 683px), (--phone) {
    #icon-coffee {
        margin: 0;
    }
}

.icon-link {
    display: inline-block;
    margin: 0px 10px;
}

.icon-link img {
    border-radius: 8px;
}

/* ------ from showcase.scss, manually converted */

.showcase {
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    margin: 0 auto;
}

.showcase__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 20px 0 10px 0;
}

.showcase__container:not(:last-of-type) {
    border-bottom: 1px solid var(--light-border-color);
}

.dark-theme .showcase__container:not(:last-of-type) {
    border-color: var(--dark-border-color);
}

.showcase__image {
    width: 25%;
    min-width: 190px;
}

.showcase__image img {
    border-radius: 8px;
}

@media screen and (max-width: 683px), (--phone) {
    .showcase__image img {
        max-height: 190px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 683px), (--phone) {
    .showcase__image {
        width: 100%;
        max-height: 190px;
        padding: 0px;
    }
}

.showcase__post-title {
    margin: 5px 0;
}

.showcase__post-title a {
    text-decoration: none;
}

.showcase__post-info {
    width: 70%;
    height: 100%;
    padding: 0 20px;
    /* background-color: blue; */
}

@media screen and (max-width: 683px), (--phone) {
    .showcase__post-info {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
}

.showcase__post-date {
    font-weight: bold;
}

.showcase__post-subtitle {
    font-style: italic;
    font-size: 0.8em;
}

.showcase__post-description {
    padding-top: 10px;
}

@media (--phone) {
    .unityContainer button {
        display: none;
    }
}

@media (--phone) {
    .unityContainer #device-error {
        display: block;
    }
}

/* general for links */

.post-content a {
    color: rgb(51, 255, 51);
}

.post-tags {
    color: rgb(51, 255, 51);
}
