form {
    max-width: 420px;
    margin :  40px auto;
}

.formTitle {
    text-align: center;
}

.formTitle h1 {
    line-height: 1;
    font-size: 2.3rem;
}

.formTitle p {
    line-height: 0;
}

@media (--phone) {
   .formTitle h1 {
      font-size: 1.75rem;
    }
}

.feedback-input {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    /* border: 2px solid #CC6666; */
    border: 1px solid;
    border-color: var(--dark-border-color);
        
    /*  transition: all 0.3s;*/
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;

    .dark-theme & {
        border-color: var(--light-border-color);
    }
}

::placeholder {
    color: gray;
    
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    font-family: inherit;
    font-size: 1.3rem;
    width: 100%;
    background: #CC6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /*  transition: all 0.3s;*/
    margin-top: -4px;
    font-weight: 600;
}
[type="submit"]:hover { background:#CC4949; }

/* ###### */

/* .posts {
    width: 100%;
} */

.logo__cursor {
    animation: cursor 1.3s infinite;
    /* background: #CC4949; */
}

/* ###### */

.post-moddate {
    float: right;
}

.icon-kofi {
    margin: 0 0 0 15px;
}